<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961509774137-vqnjprqvcq44gi6hb024cejm40gta4hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961509774137-vqnjprqvcq44gi6hb024cejm40gta4hg</string>
	<key>API_KEY</key>
	<string>AIzaSyBIQCmNhrPsKfXF-JW3ZSheSSUVyQRha2s</string>
	<key>GCM_SENDER_ID</key>
	<string>961509774137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ghlee.hansung.ac.kr.project----------2091082-ghlee</string>
	<key>PROJECT_ID</key>
	<string>ios-project-4a4b3</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-4a4b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961509774137:ios:cd2c0f660e59188c05cee8</string>
</dict>
</plist>